.book-image {
  height: 100px;
  width: 100px;
}

.book-info {
  max-width: 200px;
  margin: auto;
  display: inline-block;
  /* overflow: auto; */
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

#filter-dropdown
{
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

#dropdown-category-filter
{
  position: relative;
  display: inline-block;
}
