

<dic class = "row">
    <div class="col-6"><h1>Quản lí các gian hàng</h1></div>
    <div class="col-6">
        <label>Thêm loại sách mới</label>
        <input type="text" name = "categoryInput" id="categoryInput"/>
        <button type="button" onclick="addNewCategory()">Thêm</button>
        <span id = "notify-element"></span>
    </div>
</dic>


<div class="table-responsive">
		<table id="mytable" class="table table-bordred table-striped ">
                <thead>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Số sách trong gian</th>
                </thead>
					<tbody id="category-list">
                        {{#each categories}}
                            <tr>
                                <td>{{@index}}</td>
                                <td>{{name}}</td>
                                <td>{{count}}</td>
                            </tr>
                            

                        {{/each}}
					</tbody>
        </table>
</div>

<script src="js/addCategory.js"></script>
<script src="js/main.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>