<link rel="stylesheet" href="css/adminDetail.css" />
<link rel="stylesheet" href="css/custom.css" />
<link rel="stylesheet" href="css/searchBox.css"
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=js/axios.js></script>
<script src="js/paging.js"></script>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col col-xs-9">
					<h1>Bảng thông tin sách</h1>
					<a href="./createNew">
						<button type="submit" class="btn btn-md btn-primary btn-create">
							Thêm sách mới
						</button>
					</a>
					<form class="search" action="/bookslist/search/">
						<div class="search__wrapper">
							
								<input type="text" name="bookName" placeholder="Search book here" class="search__field">
								<button type="submit" class="fa fa-search search__icon"></button>
						</div>
					</form>
				</div>
				
				<div class="col col-xs-3">
					<h1>Filter theo loại sách</h1>
					<div id="dropdown-category-filter">
						<button id="test" onclick="toogleHideAndShowDropDown()" class="btn btn-md btn-primary btn-create">
							{{currentCategory}}
                            <p style="display: none" id="category_id">{{currentCategoryId}}</p>
						</button>
						<div id="filter-dropdown" class="drop-down-content">
							{{#each categories}}
								<form action="/bookslist" method="GET">
									<input type="submit" value="{{name}}" />
									<input  type="hidden" name="categoryID" value="{{_id}}" />
								</form>
							{{/each}}
							<form action="/bookslist/" method="GET">
								<input type="submit" value="Tất cả sách" />
								<input type="hidden" name="categoryID" value="all" />
							</form>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="table-responsive">
				<table id="mytable" class="table table-bordred table-striped ">
					<thead>
						<th><input type="checkbox" id="checkall" /></th>
						<th>STT</th>
						<th>Hình</th>
						<th>Tên</th>
						<th>Giá</th>
						<th>Tác giả</th>
						<th>Nhà xuất bản</th>
						<th>Xem</th>
						<th>Sửa</th>
						<th>Xóa</th>
					</thead>
					<tbody id="books-list">
                        
					</tbody>
				</table>
			</div>
			<div class="button-bar">
				<nav class="button-bar" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a id="prevBtn" class="page-link page-handler" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<a id="nextBtn" class="page-link page-handler" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<script src="js/dropdownFilter.js"></script>
</div>