<link rel="stylesheet" href="css/adminDetail.css" />
<div>
    <form method="POST" action="./" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">Tạo mới một quyển sách</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-4">
                    <input id="textinput" name="titleInput" placeholder="Type name here" class="form-control input-md"
                        required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Base Price</label>
                <div class="col-md-4">
                    <input id="textinput" name="basePriceInput" placeholder="Type price here"
                        class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Author</label>
                <div class="col-md-4">
                    <input id="textinput" name="authorInput" placeholder="Type author here"
                        class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Publisher</label>
                <div class="col-md-4">
                    <input id="textinput" name="publisherInput" placeholder="Type pushisher here"
                        class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Image</label>
                <div class="col-md-4">
                    <input type="file" name="book-image" class="input-group input-file" />
                </div>
            </div>
            <!-- Button (Double) -->
            <label class="col-md-4 control-label" for="btnCancel">Save Marker</label>
            <div class="col-md-8">
                <button type="submit" id="btnSave" name="btnSave" class="btn btn-success">
                    Save</button>
            </div>
</div>
</fieldset>
</form>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="js/axios.js"></script>
</div>